<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sysh.mapper.HealthFamilyMapper">
  <!--<resultMap id="ResultMap" type="com.sysh.dto.FamilyAb10Dto">

    <result column="aab002"  property="aab002" />
    <result column="aab003"   property="aab003" />
    <result column="aab005"   property="aab005" />
    <result column="aab001"   property="aab001" />
  </resultMap>-->

  <select id="findHealthFamily" parameterType="java.lang.String" resultType="com.sysh.dto.HealthFamilyDto">
    select ab10.aab002 familyName,ab01.aab017  DiseasedInformation from ab01  left join ab10 on ab01.aab001=ab10.aab001
       where ab01.aac001=#{povertyNumber}  and ab01.aab015 in(1,4) and ab01.aab017 in ('02','03','04')
             and ab01.aar040=(select max(aar040) from ab01)
  </select>



  



</mapper>